<h1> Transaction for <%= user.username%> </h1>

  <div class="row">
    <div class="col">
      <p> Here are the transactions </p>
      <a class="btn btn-lg btn-primary"
              href="?sortBy=category">sort by category</a>
      <a class="btn btn-lg btn-primary"
              href="?sortBy=date">sort by date</a>
      <a class="btn btn-lg btn-primary"
              href="?sortBy=amount">sort by amount</a>
      <a class="btn btn-lg btn-primary"
              href="?sortBy=description">sort by description</a>
      <a class="btn btn-lg btn-primary"
              href="/transaction/groupby">group by category</a>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th>Description</th>
              <th>Amount</th>
              <th>Category</th>
              <th>Date</th>
              <th>Delete</th>
              <th>Edit</th>
          </tr>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
          <tr>
            <td><%= item.Description %></td>
            <td>$<%= item.Amount %></td>
            <td><%= item.Category %></td>
            <td><%= item.Date %></td>
            <td>
              <a href="transaction/remove/<%= item._id %>">
                <i class="bi bi-trash"></i>
              </a>
            </td>
            <td>
              <a href="transaction/transactionedit/<%= item._id %>">
                <i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

            <form method="post" action="transaction">
              Category:<input type="text" name ="category">
              <br> 
              Date   : <input type="date" name="date"> <!-- aline the boxes-->
              <br>
              Amount: <input type="number" name="amount" >
              <br>
              Description: <input type="text" name="description" >
              <input type="submit" value="store">
            </form>
      </div>
    </div>
</div>

    