<pre>
    <td>ItemId: <%= item._id %></td>
   <td>Description: <%= item.Description %></td>
   <td>Amount: $<%= item.Amount %></td>
   <td>Category: <%= item.Category %></td>
   <td>Date: <%= item.Date %></td>
     
</pre>
<form method="post" action="/transaction/updateItem">
    <input type="hidden" name="itemId" value="<%= item._id %>">
    Category:<input type="text" name ="Category">
    <br> 
    Date   : <input type="date" name="Date"> <!-- aline the boxes-->
    <br>
    Amount: <input type="number" name="Amount" >
    <br>
    Description: <input type="text" name="Description" >
    <input type="submit" value="store">
  
</form>